.header {
    height:50px;
    background-color: #2c3742;
}

.slogan {
    color:#fff;
    text-align: center;
    font-size:30px;
    margin:0px;
    padding:10px 0px;
}

.page-content > .row {
  margin-top: 30px;
}

.overlay {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(0 , 0, 0, 0.2) url('../images/loader.gif') 50% 50% no-repeat;
    background-image: url('../images/loader.gif')\0/;
    background-repeat: no-repeat\0/;
    background-position-x: 50%\0/;
    background-position-y: 50%\0/;
    background-color: #FFFFFF\0/;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.book-view-btn {
    cursor: pointer;
}