<table class="table table-bordered table-hover table-responsive" id="author-books-list">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Published</th>
            <th>ISBN</th>
            <th>Pages</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>