{% extends "layout.twig" %}

{% block body %}
    {% if books is not empty %}
    <div class="row">
        <form class="form-inline" action="" id="filter-form">
            <div class="form-group">
                <input type="text" class="form-control" id="inputAuthor" placeholder="Author">
            </div>
            <div class="form-group">
                <div class="input-group input-daterange">
                    <div class="input-group-addon">from</div>
                    <input readonly="" type="text" class="form-control" id="inputFrom" value="">
                    <div class="input-group-addon">to</div>
                    <input readonly="" type="text" class="form-control" id="inputTo" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-default">Filter</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <table class="table table-bordered table-hover table-responsive" id="books-list">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Author</th>
                    <th>Number of books</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for key,book in books %}
                    <tr>
                        <td>{{ key+1 }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.numberOfBooks }}</td>
                        <td><a class="book-view-btn" author-book-count="{{book.numberOfBooks}}" author-id="{{ book.author_id }}"><span class="glyphicon glyphicon-book" data-toggle="tooltip" title="View Author Books"></span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <div class="row">
            <div class="alert alert-warning">
                <strong>Books not found.</strong>
            </div>
        </div>
    {% endif %}
{% endblock %}