<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Library tools</title>
        <link href="{{ base_url() }}/css/app.css" rel="stylesheet">
        <link href="{{ base_url() }}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ base_url() }}/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="{{ base_url() }}/css/jBox.css" rel="stylesheet">
        <link href="{{ base_url() }}/css/jBox.Notice.css" rel="stylesheet">
        <link href="{{ base_url() }}/css/NoticeFancy.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <a href="/"><h3 class="slogan">Library tools</h3></a>
        </div>
        <div class="page-content container">
            <!-- body -->
            {% block body %}
            {% endblock %}
        </div>
        <div class="overlay"></div>
        <div id="dialog-content"></div>
        <script src="{{ base_url() }}/js/plugins/jquery.min.js"></script>
        <script src="{{ base_url() }}/js/plugins/jquery-ui.min.js"></script>
        <script src="{{ base_url() }}/js/plugins/bootstrap.min.js"></script>
        <script src="{{ base_url() }}/js/plugins/bootstrap-datepicker.min.js"></script>
        <script src="{{ base_url() }}/js/plugins/jBox.min.js"></script>
        <script src="{{ base_url() }}/js/plugins/jBox.Notice.min.js"></script>
        <script src="{{ base_url() }}/js/app.js"></script>
        <script src="{{ base_url() }}/js/helper.js"></script>
    </body>
</html>
<script type="text/javascript">
    $(document).ready(function() {
        App.init();
    })
</script>